<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/formularios.css">
    </head>
    <body>
        <header>
        
            <div class="top-header-notMobile">
                <img class="logo" src="images/logo-mercado-liebre.svg">
                <div class="busqueda">
                    <form action="GET" class="barra-div">
                        <input class="barra" type="text" placeholder="Buscar productos, marcas y mas">
                        <button class="barra-btn"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <p id="cuotas"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
            </div>
    
            <nav>
                <ul >
                    <li>
                        <a href="#1">Ofertas</a>
                    </li>
                    <li>
                        <a href="#2">Tiendas oficiales</a>
                    </li>
                    <li>
                        <a href="#3">Vender</a>
                    </li>
                    <li>
                        <a href="#4">Ayuda</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/singin">Crea tu cuenta <i class="far fa-id-card"></i></a>
                    <li>
                        <a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li>
                        <a href="#7">Mis Compras <i class="fas fa-shopping-basket"></i></a>
                    </li>
                </ul>
                <div class="burger-menu">
                    <i id="burguer" class="fas fa-bars"></i>
                </div>
            </nav>
    
    
        </header>
        <main class="register">
            <form class="form-reg" action="/register" method="POST">
                <input class="texto" type="text" name="name" placeholder="Nombre y apellido" required>
                <br>
                <input class="texto" type="text" name="user" placeholder="Nombre de usuario" required>
                <br>
                <input class="texto" type="email" name="email" placeholder="E-mail" required>
                <br>
                <label for="birth_date"><b>Fecha de nacimiento</b></label>
                <br>
                <input class="texto" type="date" name="birth_date" id="birth_date" required>
                <br>
                <input class="texto" type="text" name="addres" placeholder="Domicilio">
                <b>Perfil del usuario</b>
                <div class="profile">
                    <input type="radio" name="profile" value="buy" id="buy">
                    <label for="buy">Comprador</label>
                    <input type="radio" name="profile" value="sell" id="sell">
                    <label for="sell">Vendedor</label>
                </div>

                <b>Intereses</b>
                <div class="interests">
                    <div>
                        <input type="checkbox" name="interests" value="a" id="a">
                        <label for="a">Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="b" id="b">
                        <label for="b">Moda</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="c" id="c">
                        <label for="c">Hogar</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="d" id="d">
                        <label for="d">Juguetería</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="e" id="e">
                        <label for="e">Vida sana</label>
                    </div>
                </div>
                
                <b>Elegí tu foto de usuario</b>
                <input type="file" name="avatar">
                <br>
                <br>
                <div class="contrasena">
                    <input class="texto" type="password" name="pass" placeholder="Elegí tu contraseña" required>
                    <input class="texto" type="password" name="pass_confirm" placeholder="Confirmá tu contraseña" required>
                </div>
                <br>
                <br>
                <div class="botones">
                    <button class="button-form"><a href="/">Registrate</a></button>
                    <button type="reset" class="button-form">Borrar</button>
                </div>
                <br>
                <br>
            </form>
        </main>
        <footer>
            <div class="div-foot-father">
                <div class="div-foot"> 
                    <i class="fas fa-credit-card"></i>
                    <p>Pagá con tarjeta o en efectivo</p>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div class="div-foot middle">    
                    <i class="fas fa-gift"></i>
                    <p>Envío gratis desde $ 2.500</p>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div class="div-foot">
                <i class="fas fa-user-shield"></i>
                    <p>Seguridad, de principio a fin</p>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                </div>    
    
            </div>
            <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>    
        </footer>
    </body>
</html>